/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  vertical-align: -webkit-baseline-middle;
  vertical-align: -moz-middle-with-baseline;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

a,
a:visited {
  /* text-decoration: none; */
  color: inherit;
  /* outline: none; */
}

a.nuxt-link-exact-active {
  /* text-decoration: none; */
  /* outline: none; */
}
